*{
    margin: 0;
    padding: 0;
}

.main{
    width:100%;
    background: url(tree.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;


}
.form{
    width:250px;
    height: 380px;
    background:black;
    opacity: .7;
    position: relative;
    top: 50%;
    left: 50%;
}

.form h2{
    width: 220px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: aqua;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background:transparent;
    border-bottom: 1px solid aqua;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.form input:focus{
    outline:none;
}

::placeholder{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.btn{
   width: 240px;
   height: 40px;
   background-color: aqua;
   border: none;
   margin-top: 30px;
   font-size: 18px;
   border-radius: 10px;
   cursor: pointer;
   color: white;

}

.btn:hover{
    background-color: white;
    color:aqua
}

.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color:white;
}

.form .link a{
    text-decoration: none;
    color:aqua;

}

.liw{
    padding-top:15px;
    padding-bottom: 10px;
    text-align: center;
    color: white;

}

